.sidebar {
    -fx-background-color: #333333
}

.content-pane {
    -fx-background-color: #1F1F1F
}

.content.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.content.tab-pane .tab:selected {
    -fx-background-color: #474747;
}

.content.tab-pane .tab {
    -fx-background-color: #333333;
}

.content.tab-pane .tab .tab-label {
    -fx-text-fill: white;
}

.content-tabbed-pane {
    -fx-background-color: #474747
}

.table-view .left-aligned-column.column-header .label {
    -fx-alignment: CENTER_LEFT
}

.user-status-buttons {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.user-status-buttons:hover {
    -fx-background-color: #00000022;
    -fx-text-fill: #FFFFFF;
}